---
import LayoutPackages from "@layouts/LayoutPackages.astro";
import Carrousel from "./Carrousel";
import {Modal, Loader, Collapse, Experience, BoxLinks, Chat, Message } from "kit-components-ui"
import {experience} from "../../../utils/experience.js";
import Toggle from "./Toggle"
import "../../../styles/kit-components.css";
---

<LayoutPackages title="kit-components" description="Es un conjunto de componentes UI, modernos, funcionales y ligeros">
    <section class="section-kit-components">
        <h1 class="title-kit-components">Kit-components-ui</h1>
        <p class="subtitle-kit-components">Es un conjunto de componentes UI, modernos, funcionales y ligeros</p>
        <h2 class="title-install">Instalación</h2>
        <div class="code-install">npm install kit-components-ui</div>
        <section class="container-uses">
            <h3 class="title-uses">CarrouselImages</h3>
             
            <section class="container-carrousel">
                <Carrousel client:load />
            </section>
        </section>

        <hr>

        <section class="container-uses">
            <h3 class="title-uses">Collapse</h3>
      
            <Collapse client:load bg="light" title="this collapse is an example">
                <strong>Coding and development</strong>
                <p>React + Typescript</p>
            </Collapse>
        </section>
        <hr>
        <section class="container-uses">
            <h3 class="title-uses">Modal</h3>
            
            <Modal client:load titleButton="Click modal">
                <p>Code with react + typescript</p>
            </Modal>
        </section>
        <hr>

        <section class="container-uses">
            <h3 class="title-uses">Toggle</h3>    
            <Toggle client:load />
        </section>

        <hr>

        <section class="container-uses">
            <h3 class="title-uses">Loader</h3>
            <Loader client:load />
        </section>
  
<hr>
        <section class="container-uses">
            <h3 class="title-uses">Box-links</h3>
            <BoxLinks client:load links={[
    { id: 0, link: "https://www.facebook.com", name: "Facebook" },
    { id: 1, link: "https://github.com", name: "Github" },
    { id: 2, link: "https://astro.build", name: "Astro" },
  ]} title="Redes" width="100%" />
        </section>
<hr>
        <section class="container-uses">
            <h3 class="title-uses">Chat and Messages</h3>
            <Chat client:load  width="500px" height="300px">
<Message client:load  content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum placeat consequuntur consequatur non officiis animi maiores eveniet harum" username="user 1" />
<Message client:load content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum placeat consequuntur consequatur non officiis animi maiores eveniet harum" username="user 2" theme="light" />
            </Chat>
        </section>

        <hr>

        <section class="container-uses">
            <h3 class="title-uses">Experience</h3>
            <Experience client:load experience={experience}  />
        </section>
    </section>

</LayoutPackages>









