.aside-packages {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    background-color: #000327;

}

.link-aside {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
}

.link-aside:hover {
    background-color: #0e133e;
}

@media (max-width: 425px) {
    .aside-packages {
        width: 100%;
        gap: 0;
        height: auto;

    }
}
