.section-packages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-packages {
    width: 100%;
    height: 100vh;

}


@media (max-width: 425px) {
    .section-packages {
        flex-direction: column;
    }
}
