---
import "../styles/aside-packages.css";
---

<aside class="aside-packages">
    <a href="/paquetes/format-all-dates" class="link-aside">format-all-dates</a>
    <a href="/paquetes/eff-anim" class="link-aside">eff-anim</a>
    <a href="/paquetes/kit-components-ui" class="link-aside">kit-components-ui</a>
    <a href="/paquetes/type-writer-words" class="link-aside">type-writer-words</a>
</aside>


