---
import "../styles/header.css"; 
---

<header class="header">
    <nav class="header-nav">
        <strong class="title-header">KitElements</strong>
        <div class="container-header">
            <a href="/" class="link-header">Inicio</a>
            <a href="/paquetes" class="link-header">Paquetes</a>
            <a href="https://github.com/dariomvg/kit-elements" target="_blank" class="link-header">Github</a>
        </div>
    </nav>
</header>

