---
import LayoutPackages from "@layouts/LayoutPackages.astro";
import "../../styles/paquetes.css";
---

<LayoutPackages title="Paquetes" description="Paquetes disponibles en kitElements">
    <section class="section-index-packages">
        <h1 class="title-package">Documentación <b class="title-logo">KitElements</b></h1>
        <section class="container-packages">
            <div class="box-packages">
                <h2 class="title-box-packages">format-all-packages</h2>
                <p class="details-box-packages">Paquete para mostrar múltiples formatos para la fecha y horarios</p>
            </div>
            <div class="box-packages">
                <h2 class="title-box-packages">eff-anim</h2>
                <p class="details-box-packages">Paquete para agregar efectos a secciones cuándo entran al viewport</p>
            </div>
            <div class="box-packages">
                <h2 class="title-box-packages">kit-components</h2>
                <p class="details-box-packages">Paquete de componentes UI funcionales para un desarrollo rápido</p>
            </div>
            <div class="box-packages">
                <h2 class="title-box-packages">type-writer-words</h2>
                <p class="details-box-packages">Paquete de efecto máquina de escribir para títulos</p>
            </div>
        </section>
    </section>
</LayoutPackages>


















