---
import LayoutPackages from "@layouts/LayoutPackages.astro";
import iconLink from "../../assets/arrow-link.svg";
import "../../styles/paquetes.css";
---

<LayoutPackages title="Paquetes" description="Paquetes disponibles en kitElements">
    <section class="section-index-packages">
        <h1 class="title-package"><b class="title-logo">KitElements</b></h1>

            <ul class="list-packages">
                <li class="title-list">
                    <h2>Visita los paquetes en NPM</h2>
                </li>
                <li class="item-package">
                    <a href="https://www.npmjs.com/package/format-all-dates" target="_blank" class="link-package">
                        Format all dates
                        <img src={iconLink.src} alt="arrow link" width="20" height="20" >
                    </a>
                    <p class="explain-package">Conjunto de funciones para mostrar distintos formatos para la fecha</p>
                </li>
                <li class="item-package">
                    <a href="https://www.npmjs.com/package/eff-anim" target="_blank" class="link-package">
                        Eff anim
                        <img src={iconLink.src} alt="arrow link" width="20" height="20" >
                    </a>
                    <p class="explain-package">Conjunto de efectos para agregar a secciones cuando entran a la vista</p>
                </li>
                <li class="item-package">
                    <a href="https://www.npmjs.com/package/kit-components-ui" target="_blank" class="link-package">
                        Kit components ui
                        <img src={iconLink.src} alt="arrow link" width="20" height="20" >
                    </a>
                    <p class="explain-package">Kit de componentes ui funcionales listos para implementar</p>
                </li>
                <li class="item-package">
                    <a href="https://www.npmjs.com/package/type-writer-words" target="_blank" class="link-package">
                        Type writter words
                        <img src={iconLink.src} alt="arrow link" width="20" height="20" >
                    </a>
                    <p class="explain-package">Paquete de efecto máquina de escribir para títulos</p>
                </li>
            </ul>
    </section>
</LayoutPackages>


















